* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}

body {
    background-color: cornsilk;
    /* background-color:bisque; */
}

main {
    display: flex;
    justify-content: center;

}

.calculatorBody {
    width: 300px;
    height: 600px;
    padding: 16px;
    background-color: grey;
}

.screen {
    background-color:darkseagreen;
    text-align: right;
    padding: 0px 16px;
    font-size: 24px;
}


.keypad {
    padding: 16px;
    margin-top: 16px;
}

.keypadRow {
    padding: 8px;
    text-align: center;
}

button {
    font-size: 24px;
    width: 50px;
    height: 50px;
}


/* tbd */

.calculatorHistory {
    width: 300px;
    height: 600px;
    padding: 16px;
    background-color:bisque;
}
