* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}

body {
    background-color: cornsilk;
    /* background-color:bisque; */
}

main {
    display: flex;
    justify-content: center;

}

.calculatorBody {
    width: 300px;
    height: 600px;
    padding: 16px;
    background-color: grey;
}

.screen {
    background-color:darkseagreen;
    text-align: right;
    padding: 0px 16px;
    font-size: 16px;
    margin: 36px;
    overflow: hidden;
}

.keypad {
    padding: 16px;
    margin-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.keypadRow {
    padding: 8px;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
}

.keypadWrapper {
    display: flex;
    justify-content: center;
}

button {
    font-size: 24px;
    width: 50px;
    height: 50px;
}

.clear {
    width:108px;
}


/* tbd */

.calculatorHistory {
    width: 200px;
    height: 600px;
    padding: 8px;
    background-color:bisque;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type:none;
    border: 1px solid black;
    padding: 4px;
    margin-top: 8px;
}